.info-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-grow: 1;
  justify-content: center;
  background: var(--purple-base);
  font-weight: 600;

  #info-card-title {
    font-size: 4pt;
  }
}
